<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDiBM_4gAkNY2DnCboU2wOqJ29O9Ru1qmM</string>
	<key>GCM_SENDER_ID</key>
	<string>919925351647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.Prizega.TrackMates</string>
	<key>PROJECT_ID</key>
	<string>trackmates-1ddbb</string>
	<key>STORAGE_BUCKET</key>
	<string>trackmates-1ddbb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919925351647:ios:182d3da515664695d2f56a</string>
</dict>
</plist>